/*
    fonts available
    font-family: 'Major Mono Display', monospace;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Ubuntu Mono', monospace;
*/

body {
    font-size: 16px;
    font-weight: 400;
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-color: #00142f;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0px;
}

.light-mode {
    background-color: white;
    color: #00142f;
    left: 0;
}

/*
    fixed nav bar
    100% width, 10% height
    have it start at the top
*/
#navbar {
    display: inline-flex;
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    /* border: 1px solid white; */
    z-index: 10;
    background-color: #00142f;
    left: 0;
}

/*
    flex container holding a future logo
*/
.navbar-logo {
    display: flex;
    width: 50%;
    justify-content: left;
}

.navbar-logo button {
    height: 30%;
    width: 10em;
    display: flex;
    align-self: center;
    border-radius: 10px;
    margin-left: 2em;
}

/*
    flex container holding page links
    align items to the right
*/
.page-links {
    display: flex;
    width: 49%;
    justify-content: right;
}

/*
    each link in a p element is a flex container
    aligns vertically centered
    add padding 
*/
.page-links p {
    padding: 1em 2em;
    display: flex;
    align-self: center;
}

/*
    remove underline from link
    change default link color to white
*/
.page-links a {
    text-decoration: none;
    color: white;
    font-size: 1.15em;
}

/*
    set dimensions welcome section
    set top margin to account for navbar
*/
#welcome-section {
    width: 100%;
    margin-top: 5em;
}

/*
    set div dimensions
*/
.welcome-section {
    height: 90vh;
    width: 100%;
}

/*
    set dimensions of greeting img, position relative
    set max height
*/
.welcome-section img{
    position: relative;
    height: auto;
    max-height: 90vh;
    width: 100%;
    z-index: 0;
    left: 0;
}

/*
    text over image, position absolute
    top and left adjustments
    z-index to make text appear over image 
    increase font size
    set width of text
*/
.welcome-section h1{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-40%, -50%);
    font-size: 2.5em;
    width: 80%;
}


/* set background color and dimensions*/
#about-me-div {
    width: 100%;
    height: 100%;
}

/* add padding to my name, remove margins, set color*/
#about-me-div h2 {
    padding: 6em 0em 2em 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    /*color: #f95959;*/
    font-size: 2em;
}

/* two flex containers within this one. set height and width*/
.about-me {
    display: inline-flex;
    width: 100%;
    height: 40%;
}

/*text portion, make into flex container, center horizontally*/
.about-me-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 50%;
}

/*set color, set width, set flex container, left align*/
.about-me-text h3 {
    /*color: #f95959;*/
    width: 70%;
    display: flex;
    justify-content: left;
    padding: 1em 0em 1em 1em;
}

/*set color, set width, center horizontally*/
.about-me-text p {
    /*color: #f95959;*/
    width: 70%;
    display: flex;
    justify-content: center;
}

/*
    set flex container, set max height, set width, center within
    container
*/
.about-me-img {
    display: flex;
    max-height: 29em;
    width: 50%;
    justify-content: center;
}

/*make curved borders, set dimensions*/
.about-me-img img {
    border-radius: 25px;
    height: 100%;
    max-width: 50%;
}

/*skills div, make into flex container, add padding, set height*/
.skills {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    padding: 5em 3em;
}

/*center skills title, set color and font-size*/
.skills h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    /*color: #f95959;*/
    font-size: 1.5em;
}

/*make into flex container, set width, space around, remove padding*/
.skills ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-left: 0px;
}

/*make into flex container, align center, set width, set color*/
.skills li {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 1em 0em;
    /*color: #f95959;*/
}

/*div, set dimensions*/
#projects {
    height: 100%;
    width: 100%;
}

/*project title, center horizontally, add padding, set color*/
.projects h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.5em 0em;
    margin: 0px;
    font-size: 2.5em;
    /*color: #f95959;*/
    text-decoration: underline;
}

/*set up container to hold each project*/
.project-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%
}

/*will hold each image with associated text*/
.project-container {
    width: 21%;
    height: 100%;
    margin: 2em 0em;
    border: 3px dashed #e3e3e3;
    padding: 1em;
}

/*img dimensions*/
.project-container img {
    width: 100%;
    height: auto;
}

/*img text */
.projects p {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1em 0em;
    /*color: #f95959;*/
}

.project-container .prolink a {
    font-size: 1em;
    /*color: #f95959;*/
}

/*link to github repos*/
#view-all-projects {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3em 0em;
}

.projects a {
    color: #e3e3e3;
    text-decoration: none;
    font-size: 1.5em;
}

/*on hover change color of link*/
.projects a:hover {
    color: #f95959;
}

/*footer, set background color, set margin and padding*/
footer {
    background-color: black;
    margin: 0px;
    display: inline-flex;
    width: 100%;
    padding: 2em 0em;
    justify-content: space-around;
}

/*copy right*/
footer p{
    display: flex;
    width: 15%;
    color: white;
}

/*flex container holding icons*/
.contact-link {
    display: flex;
    width: 20%;
    justify-content: center;
}

/*icons*/
.contact-link img {
    height: 2em;
    width: auto;
}